.shop-container {
    display: grid;
    grid-template-columns: 4fr 200px;
    gap: 10px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 41px;
    margin: 100px 50px;
}

.order-summary {
    background-color: chocolate;
}

@media screen and (max-width:1100px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}